# devcontainer volumes
.devcontainer/volumes/**
!.devcontainer/volumes/**/
!.devcontainer/volumes/**/.gitkeep
.devcontainer/volumes/**/.tmp/

.devsy-internal

# dependencies
node_modules/
.venv/

# build output
devcontainer/features/*/output/

# temporary files
__scratch__/
__NOTES__.md
